<!-- <div style="display: block;height: 80vh;" fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="20px">
    
</div> -->
<div style="display: block;height: 80vh;" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="30px">
    <mat-card>
        <mat-card-content>
            Change only the values you want to update! <br>
            <!-- <span style="color:red;"> Keep blank to keep values same. </span> -->
        </mat-card-content>
    </mat-card>
    <mat-card >
        <mat-card-header>
            <mat-card-title>
                <h4>Account Details</h4>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="AccountDetails.email" name="email" matInput placeholder="Email" type="email" [formControl]="email">
                    <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width" hintLabel="Minimum 6 characters long">
                    <input #input [(ngModel)]="AccountDetails.password" name="password" matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'" [formControl]="password">
                    <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-hint align="end">Count: {{input.value?.length || 0}}</mat-hint>
                </mat-form-field>
                <br>
                <button (click)="change_details()" style="margin-top:20px;" mat-raised-button color="primary">Update</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>