<div style="display: block;height: 80vh;" fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="20px">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h4>Register a book</h4>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="RegisterBook.title" name="title" matInput placeholder="Title" type="name">
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="RegisterBook.author" name="author" matInput placeholder="Author" type="name">
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="RegisterBook.isbn" name="id" matInput placeholder="Book Id" type="name">
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                        <mat-select placeholder="Select a category" name="category" [(ngModel)]="RegisterBook.category">
                            <mat-option value="mat">Mathematics</mat-option>
                            <mat-option value="sci">Science</mat-option>
                            <mat-option value="tec">Technology</mat-option>
                            <mat-option value="art">Art</mat-option>
                            <mat-option value="his">History</mat-option>
                            <mat-option value="hea">Health</mat-option>
                            <mat-option value="ent">Entertainment</mat-option>
                            <mat-option value="fic">Fiction</mat-option>
                            <mat-option value="mis">Miscellaneous</mat-option>
                        </mat-select>
                    <!-- <input  name="category" matInput placeholder="Category" type="name"> -->
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                        <mat-select placeholder="Select a location" name="location" [(ngModel)]="RegisterBook.location">
                            <mat-option value="1">1</mat-option>
                            <mat-option value="2">2</mat-option>
                            <mat-option value="3">3</mat-option>
                            <mat-option value="4">4</mat-option>
                            <mat-option value="5">5</mat-option>
                            <mat-option value="6">6</mat-option>
                            <mat-option value="7">7</mat-option>
                            <mat-option value="8">8</mat-option>
                            <mat-option value="9">9</mat-option>
                            <mat-option value="10">10</mat-option>
                        </mat-select>
                    <!-- <input [(ngModel)]="RegisterBook.location" name="location" matInput placeholder="Location" type="name"> -->
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="RegisterBook.availability" name="availability" matInput placeholder="Availability" type="name">
                </mat-form-field>
                <br>
                <button (click)="register_post()" mat-raised-button color="primary">Register</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>