<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>></mat-icon></button>
      <h1 class="example-app-name">Responsive App</h1>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #snav [mode]="over" fixedTopGap="56">
        <mat-nav-list>
          Ashish
        </mat-nav-list>
        <mat-nav-list>
            Rashika
          </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        Rashika
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

