.example-card {
    max-width: 300px; 
  }
  
  .example-header-image {
    background-image: url('../../assets/book.jpg');
    background-size: cover;
    display: inline-block;
    width: 100px;
    height: 150px;
    border-radius: 0px;
  }
.paginator > * {
    position: relative;
    z-index: 100;
}
mat-card{
  min-width: 200px;
  border: 1px solid snow;
}